<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852927028569-gvhf82goedjgq3vofc54tjovhhrcmktt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852927028569-gvhf82goedjgq3vofc54tjovhhrcmktt</string>
	<key>API_KEY</key>
	<string>AIzaSyAJvqeeYkjE3oCHRx8KR7xJ0VekD63MaMA</string>
	<key>GCM_SENDER_ID</key>
	<string>852927028569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jimBuddy</string>
	<key>PROJECT_ID</key>
	<string>jimbuddy-9e83f</string>
	<key>STORAGE_BUCKET</key>
	<string>jimbuddy-9e83f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852927028569:ios:71b0e38930d30f28680048</string>
	<key>DATABASE_URL</key>
	<string>https://jimbuddy-9e83f-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>